/*Määritetään sivulle oletusfontti, tekstin keskitys ja taustaväri*/
body {
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE9E9;
}

/*Sivuston yläosassa oleva otsikko.*/
.banner{
    text-align: center;
    height: 100px; 
    background-color: #102542;
    margin: 0px 0px 0px 0px;
    color: white;
    padding-top: 30px;
    font-size:60px;
}

/*Navigointipalkki. Määritellään korkeus, väri, tekstin keskitys, taustaväri ja fontin koko.*/
.menubar{
    height: 30px;
    color: white;
    text-align: center;
    background-color: #254977;
    font-size: 25px;
    margin: 0px 0px 50px 0px;
}

/**/
.nav{
    height: 30px;
    color: white;
    text-align: center;
    background-color: #254977;
    font-size: 25px;
    margin: 15px 400px 15px 400px;
}

.kuva{
    text-align:center;
}

img {
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px;
    width: 300px;
}

p, address{
    text-align: center;
}

ul{
    width:6%;
    margin: auto;
}